.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: 30px;
}

.Github-logo {
  padding: 8px;
  max-width: 30px;
  max-height: 30px;
  vertical-align:middle;
}

.Github-link {

}

.Header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A5E72;
  padding: 10px 20px;
}

.Footer {
  background-color: #3A5E72;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  margin: 20px;
  color: #61dafb;
}

.Diff-lines {
  background-color: gray;
}

.Participantes {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: 20px;
}